/* work sans font from google fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  * {
    font-family: 'Work Sans', sans-serif;
  }
/*  */
.header{
   
    background: rgba(255, 144, 14, 0.10); 
    padding: 50px 240px;
}
.title {
  color: #131313;
  text-align: center;
  font-size: 2.8em;
  font-weight: 700;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
  display: flex;
}
 nav li{
  color:  #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin-right: 30px;
  list-style-type: none;
 }
 nav li a{
    text-decoration: none;
}
/* banner style */
.banner {}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: #131313;
text-align: center;
font-size: 64px;
font-weight: 700;

}
.banner-description {
  color:  #727272;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn {
  border-radius: 8px;
background: #FF900E;
  color: #FFF;
text-align: center;
font-size: 1.25rm;
font-weight: 600;
border: none;
padding: 20px 25px;
margin: 32px auto 53px auto;
}
.banner-img {
  width: 100%;
}
/*  */
main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 85px;
}
.team {
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.team-contant {
  padding-right: 70px;
  padding-left: 70px;
}
.team-title {
  color: #727272;
font-size: 2.8rem;
font-weight: 500;
}
.our {
  color:  #131313;
font-weight: 700;
}
.fe {
  color: #FF900E;
font-weight: 700;
}
.team-description {
  color: #727272;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
/*  */
.features {
  display: flex;
  gap: 146px;
  margin:130px auto 20px auto;
}
.features-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid  #FF900E;
  padding-left: 20px;
}
.features-small-title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.features-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.features-img-container img {
  height: 982px;
  width: 100%;
}
.experience {
  position: relative;
  bottom: 150px;
  right: 120px;
}
.experience-title {
  color: #FFF;
  text-align: center;
  width: 342px;
  height: 170px;
  padding: 45px 42px;
  border-radius: 8px;
  background: #FF900E;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px; /* 107.692% */
}
.experience-description {
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
}
/*  */
.facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.facts-description {
  color:  #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.facts-container {
  display: flex;
  justify-content: space-around;
  gap: 124px;
}
.card {
  width: 241.831px;
  height: 241.831px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 60px 40px;
}
.card-stats {
  color: #424242;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
}
.card-title {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}
/*  */
.sponspors {
  text-align: center;
  margin-top: 180px;
  margin-bottom: 130px;
}
.sponspors-title {
  color: #131313;
font-size: 45px;
font-weight: 700;
}
.sponspors-description {
  color:#727272;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.sponspors-container img{
  justify-content: space-evenly;
  width: 165.833px;
  height: 50px;
  padding: 40px;
}
/*  */
.footer {
  color: #424242;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
/* responsive mdia queries */
/* mobile devices */
@media screen and (max-width:576px) {
  .header{
    padding: 20px;
  }
  .nav ,.team,.facts-container, .features{
    flex-direction: column;
  }
.team-img-container {
 grid-template-columns: 1fr;
}
.team-contant,.facts-container {
  padding-right: 20px;
  padding-left: 20px;
}
.experience {
  position: static;
}
.experience-title {
  width: 280px;
  height: 120px;
}
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
  .header{
    padding: 50px;
  }
  .nav,.team ,.facts-container ,.features{
    flex-direction: column;
  }
  .facts-title, .facts-description{
    text-align: center;
  }
  .facts-container {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .experience {
    position: static;
   padding-left: 30px;
  }
}